.hero-img {
    min-height: max-content;
    max-height: 100vh;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1563277267-0e9f2dabb9ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1065&q=80);
}

.text-light {
    text-shadow: 2px 2px 2px black;
    text-align: center;
    font-size: 30pt;
    padding-bottom: 5rem;
}

.card {
    backdrop-filter: blur(10px);
    border-radius: 5px;
    box-shadow: 0 0 5px 0 black;
    background: inherit;
    margin-top: 3em;
}

.col-6 {
    justify-content: center;
}

.bb {
    margin-top: 10px;
}

.btn {
    opacity: 0.8;
}